body {
    background-color: #f2f2f2;
    font: normal 10px "Lucida Grande", verdana, helvetica, arial, sans-serif;
    color: #333;
}
body {
    display: block;
    margin: 8px;
}
h2 {
	position: fixed;
	top: 5%;
    right: 40%;
    font-size: 2.5em;
    margin: auto;
}
h1 {
	background-color: white;
	position: fixed;
	text-align: center;
    top: 15%;
    right: 35%;
    width: 320px;
    height: 200px;
    padding: 10px;
    border: 1px solid black;
    margin: auto;
}
form {
	position: fixed;
    bottom: 70%;
    right: 45%;
    margin: auto;
}